{{ define "main" }}
<div class="post">
  <header class="post-header">
  <div style="display: flex; justify-content: end;">
    {{ partial "back_link.html" .}}
  </div>
    <h2>Posts tagged "{{ .Title | lower }}"</h2>
  </header>

  <div class="post-content">
    <ul class="post-list">
      {{ range .Data.Pages }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="post-date">{{ .Date.Format "2006-02-03" }}</span>
        </li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}