{{/*
  Template: Default Single Page Layout (layouts/_default/single.html)
  Purpose:  Renders standalone pages (such as /about/)
  Features: Title, optional TOC, and page content
*/}}
{{ define "main" }}
<article class="page">
    <h1>{{ .Title }}</h1>

    {{ if and .Params.toc (and .TableOfContents (findRE "<li" .TableOfContents)) }}
    <details class="toc" open>
        <summary class="toc-title">[table of contents]</summary>
        {{ .TableOfContents }}
    </details>
    {{ end }}

    {{ .Content }}
</article>
{{ end }}
