{{/*
  Template: Homepage Layout (layouts/index.html)
  Purpose:  Renders the site homepage (/)
  Features: Description (optional), home content, and menu/posts navigation
*/}}
{{ define "main" }}
{{- if site.Params.theme_config.show_description -}}
<header class="home-header">
    <p>{{ site.Params.description }}</p>
</header>
{{- end -}}

{{ .Content }}

{{- if site.Data.menu.entries -}}
    {{ partial "menu.html" (dict "context" . "collection" site.Data.menu.entries) }}
{{- else -}}
    {{ partial "post_list.html" (dict "context" . "section" "posts") }}
{{- end -}}
{{ end }}
