{{/*
  Template: Single Post Layout (layouts/posts/single.html)
  Purpose:  Renders individual blog articles under /posts/<slug>/
  Features: Publication date metadata, article title, optional Table of Contents,
            content body, and tag badges
*/}}
{{ define "main" }}
<article class="post">
    <div class="post-meta">
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format (site.Params.theme_config.date_format | default "2006-01-02") }}
        </time>
        {{ with .Params.tags }}
        <div class="post-tags">
            {{ range . }}
            <a href="{{ printf "/tags/%s/" (. | urlize) | relURL }}" class="post-tag">#{{ . }}</a>
            {{ end }}
        </div>
        {{ end }}
    </div>

    <h1>{{ .Title }}</h1>

    {{ $globalToc := false }}
    {{ if isset site.Params.theme_config "toc" }}
        {{ $globalToc = site.Params.theme_config.toc }}
    {{ else if isset site.Params "toc" }}
        {{ $globalToc = site.Params.toc }}
    {{ end }}

    {{ $showToc := $globalToc }}
    {{ if isset .Params "toc" }}
        {{ $showToc = .Params.toc }}
    {{ end }}

    {{ if and $showToc (and .TableOfContents (findRE "<li" .TableOfContents)) }}
    <details class="toc" open>
        <summary class="toc-title">[table of contents]</summary>
        {{ .TableOfContents }}
    </details>
    {{ end }}

    {{ .Content }}
</article>
{{ end }}
