{{/*
  Partial: Top Bar Header (layouts/partials/header.html)
  Purpose: Sticky navigation bar inspired by Omarchy
  Format:  [site name] ------ [rss] [theme]
*/}}
<header class="site-header">
  <div class="header-inner">
    <a href="{{ "" | relURL }}" class="site-brand">{{ site.Title }}</a>
    <nav class="header-nav">
      {{ $showBlog := true }}
      {{ if isset site.Params "navigation" }}
        {{ if isset site.Params.navigation "show_blog" }}
          {{ $showBlog = site.Params.navigation.show_blog }}
        {{ end }}
      {{ end }}
      {{ if $showBlog }}
      <a href="{{ "posts/" | relURL }}" class="nav-item">[blog]</a>
      {{ end }}

      {{ $showGallery := false }}
      {{ if isset site.Params "navigation" }}
        {{ if isset site.Params.navigation "show_gallery" }}
          {{ $showGallery = site.Params.navigation.show_gallery }}
        {{ end }}
      {{ end }}
      {{ if $showGallery }}
      <a href="{{ "gallery/" | relURL }}" class="nav-item">[gallery]</a>
      {{ end }}

      {{ $showRss := true }}
      {{ if isset site.Params "navigation" }}
        {{ if isset site.Params.navigation "show_rss" }}
          {{ $showRss = site.Params.navigation.show_rss }}
        {{ end }}
      {{ end }}
      {{ if $showRss }}
      <a href="{{ "index.xml" | relURL }}" class="nav-item">[rss]</a>
      {{ end }}

      {{ $showToggle := true }}
      {{ if isset site.Params "navigation" }}
        {{ if isset site.Params.navigation "show_theme_toggle" }}
          {{ $showToggle = site.Params.navigation.show_theme_toggle }}
        {{ end }}
      {{ end }}
      {{ if $showToggle }}
      <button type="button" class="nav-item theme-toggle" aria-label="Toggle theme">[theme]</button>
      {{ end }}
    </nav>
  </div>
</header>
